

body {
    background-color: black;
    color: lightgray;
    font-family: arial, helvetica, sans-serif;;
    letter-spacing: 1px;
    text-align: justify;
}
h2{
    text-align: center;
}

div{
    text-align: center;
    margin: 20px;
    padding: 10px;
    border: 9px inset gray;

}

a:link, a:visited {
    background-color: white;
    color: black;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: rgb(120,120,120);
    color: white;
}

img{
    height:auto;
    max-width: 100%;
}
