

body {
    background-color: black;
    color: lightgray;
    font-family: arial, helvetica, sans-serif;;
    letter-spacing: 1px;
    text-align: justify;
}
h2{
    text-align: center;
}

div{
    text-align: center;
    margin: 20px;
    padding: 10px;
    border: 9px inset gray;     
}

img {
    
    width: 100%;
}
